language: php

php:
  - 5.4

sudo: false

cache:
  directories:
    - ~/.composer/cache
    - ~/composer

before_install:
  - printf "\n" |pecl install imagick
  - phpenv config-add .travis.php.ini
  - if [ -f ~/composer/composer.phar ]; then mv ~/composer/composer.phar ./; else wget https://getcomposer.org/composer.phar; fi
  - mkdir -p ~/composer
  - cp composer.phar ~/composer/composer.phar

install:
  - php -d memory_limit=-1 ./composer.phar install --no-progress --prefer-dist

script: ./bin/phpunit

after_script:
  - CODECLIMATE_REPO_TOKEN=2b1aac8bcb3be2b2d1d469d40877fdef2fcaf3d288b9a738b719f65ac193f8c0 ./bin/test-reporter
